html, body {}

.b-page {
    position:relative;
    font:normal 16px Georgia, serif;
    }

.b-page__wrap {
    width:800px;
    margin:auto;
    }

.b-page__header {
    text-align:center;
    }

.b-page__content {}

.b-page__footer {}

